.App {
  background-color: lightgray;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
}

.subheader { 
  color: black;
}

/* Features */
.features {
  margin: 0;
  padding: 0;

}

.app-button {
  padding: 30px;
  display: flex;
  align-items: flex-end;
}

.features-container {
  padding-left: 30px;
  padding-right: 30px;
}

.features-header {
  display: flex;
  flex-direction: column;
}

.features-table {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.active-features {
  font-weight: bold;
}

.available-features {
  width: 100%;
  padding-right: 20px;
}

.selected-features {
  width: 100%;
  padding-left: 20px;
}
